<div class="wrapper">
	<form #loginForm="ngForm" class="form-card">

		<h1>SignIn</h1>

			<div>
				<mat-form-field>
					<input matInput type="email"  placeholder="Email" name="email" required [(ngModel)]="email" #emailRef="ngModel"
						[ngClass]="{'is-invalid': emailRef.invalid && emailRef.touched,'is-valid': emailRef.valid && emailRef.touched}"
						pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
				</mat-form-field>
			</div>

			<div>
				<mat-form-field>
					<input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="password" #passwordRef="ngModel" 
					[ngClass]="{'is-invalid': passwordRef.invalid && passwordRef.touched,'is-valid': passwordRef.valid && passwordRef.touched}">
				</mat-form-field>
			
			</div>

			<div>
				<button class="signin-btn" mat-raised-button color="primary" (click)="signIn()" [disabled]="loginForm.invalid">Login</button>
			</div>
			<ngx-spinner bdColor="#20262e" size="medium" color="#fff" type="ball-clip-rotate-pulse">
				<p style="font-size: 10px; color: white; display: inline;">Loading...</p>
			</ngx-spinner>
	</form>
</div>
