.sidenav, .main-content{
    height: 100vh;
}

.sidenav {
  padding: 20px;
  background-color: #20262e;
}

.sidenav .mat-list-item a{
  color: #fff;
}
.hidden{
    display: none;
}
.main-content{
  height: 100vh;
  overflow-y: scroll;
  background: url('src/assets/img/jumbotron.png') ;
  background-size: cover;
  background-repeat: no-repeat;
}

mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
        color: #fff;
      display: inline-block;
      height: auto;
      width: auto;
    }
}

.jumbotron{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron h1{
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-size: 3rem;
}

.jumbotron p{
  text-align: center;
  color: white;
  font-size: 2rem;
}

.services{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
}


.services mat-card{
  width: 20vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.mat-card-image{
  height: 200px;
}

.footer{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  margin-bottom: 10px;
}

.footer h1{
  display: flex;
  align-self: center;
  color: white;
}

.footer form{
  background-color: rgba(255, 255, 255, 0.164);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}

.actions-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card-content p{
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .services{
    flex-direction: column;
  }

  .services mat-card{
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 10px;
  }

  .mat-card-image{
    height: 250px;
  }
}
