<h1 mat-dialog-title>Add new Project</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)] = "data" placeholder="Name">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions-buttons">
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
