.chatContainer{
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color:#fcfcfc ;
    position: fixed;
    bottom: 0;
    right: 5vw;
    border: 0.5px solid #20262e;
}

.chat-header{
    background-color: #20262e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    color: white;
}

.chat-content-close{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 0vh;
}

.chat-content-open{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 45vh;
}



.message-content{
    display: flex;
    flex-direction: column;
    padding:5px;
    overflow-y: scroll;
    flex-grow: 2;
}

.message-sender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.chat-content-close .message-sender,.chat-content-close .message-content{
    display: none;
}

.message-in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-out{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-block{
    padding: 2px;
    margin-top: 5px;
    max-width: 80%;
    word-break: break-all;
}

.message-block p{
    padding: 0;
    margin: 0.05rem;
    font-size: 1.1rem;
}

.message-block span{
    font-weight: bold;
    font-size: 1rem;
}

.message-in .message-block{
    border-radius:0 5px 5px 5px;
    background-color: rgb(0, 9, 46);
    color:rgb(238, 235, 235);
}

.message-out .message-block{
    border-radius:5px 5px 0px 5px;
    background-color: rgb(32, 32, 36);
    color:rgb(238, 235, 235);
}

@media only screen and (max-width: 800px) {
    .chatContainer{
        right: 25vw;
    }

    .chat-content-close{
        width: 50vw;
    }

    .chat-content-open{
        width: 50vw;
        height: 40vh;
    }
}