<mat-drawer-container class="main-container" hasBackdrop="true" autosize>

  <mat-drawer #sidebar class="sidenav" mode="over">
    <button mat-icon-button (click)="export()" mat-raised-button>
      <mat-icon aria-hidden="false"  style="cursor: pointer">save_alt</mat-icon>
    </button>
  </mat-drawer>
  <div class="sidenav-toggler" (click)="toggleSideBar()">
    <mat-icon aria-hidden="false">menu</mat-icon>
  </div>
  <div class="main-content" id="main-content" cdkDropListGroup>
    <div class="row">
      <div class="column" cdkDropList id="keyPartners" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
          <span>KeyPartners</span>
          <mat-icon aria-hidden="false" (click)="addNote('keyPartners')" style="cursor: pointer">add</mat-icon>
        </div>
        <app-note *ngFor="let item of mapToArray(dropLists.keyPartners)"
         [note]="item" [cdkDragData]="item.uid" cdkDrag
         (edit)=onEdit($event)
         (delete)=onDelete($event)>
        </app-note>
      </div>
      <div class="column">
        <div class="sub-column" cdkDropList id="keyActivities" (cdkDropListDropped)="drop($event)">
          <div class="column-header">
            <span>KeyActivities</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('keyActivities')" style="cursor: pointer">add
            </mat-icon>
          </div>
          <app-note *ngFor="let item of mapToArray(dropLists.keyActivities)"
           [note]="item" [cdkDragData]="item.uid" cdkDrag 
           (edit)=onEdit($event)
           (delete)=onDelete($event)>
          </app-note>
        </div>
        <div class="sub-column" cdkDropList id="keyRessources" (cdkDropListDropped)="drop($event)">
          <div class="column-header">
            <span>KeyRessources</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('keyRessources')" style="cursor: pointer">add
            </mat-icon>
          </div>
          <app-note *ngFor="let item of mapToArray(dropLists.keyRessources)"
           [note]="item" [cdkDragData]="item.uid" cdkDrag 
          (edit)=onEdit($event)
          (delete)=onDelete($event)>
        </app-note>
        </div>
      </div>
      <div class="column" cdkDropList id="valueProposition" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
          <span>ValueProposition</span>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('valueProposition')" style="cursor: pointer">add
          </mat-icon>
        </div>
        <app-note *ngFor="let item of mapToArray(dropLists.valueProposition)"
         [note]="item" [cdkDragData]="item.uid" cdkDrag
         (edit)=onEdit($event)
         (delete)=onDelete($event)></app-note>
      </div>
      <div class="column">
        <div class="sub-column" cdkDropList id="customers" (cdkDropListDropped)="drop($event)">
          <div class="column-header">
            <span>Customers RelationShips</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('customers')" style="cursor: pointer">add</mat-icon>
          </div>
          <app-note *ngFor="let item of mapToArray(dropLists.customers)"
           [note]="item" [cdkDragData]="item.uid" cdkDrag
           (edit)=onEdit($event)
           (delete)=onDelete($event)>
          </app-note>
        </div>
        <div class="sub-column" cdkDropList id="channel" (cdkDropListDropped)="drop($event)">
          <div class="column-header">
            <span>Channel</span>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('channel')" style="cursor: pointer">add</mat-icon>
          </div>
          <app-note *ngFor="let item of mapToArray(dropLists.channel)"
           [note]="item" [cdkDragData]="item.uid" cdkDrag
           (edit)=onEdit($event)
           (delete)=onDelete($event)>
          </app-note>
        </div>
      </div>
      <div class="column" cdkDropList id="customerSegment" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
          <span>Customer Segment</span>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('customerSegment')" style="cursor: pointer">add
          </mat-icon>
        </div>
        <app-note *ngFor="let item of mapToArray(dropLists.customerSegment)"
         [note]="item" [cdkDragData]="item.uid" cdkDrag
         (edit)=onEdit($event)
         (delete)=onDelete($event)></app-note>
      </div>
    </div>

    <div class="row">
      <div class="column2" cdkDropList id="costStructure" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
          <span>Cost Structure</span>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('costStructure')" style="cursor: pointer">add</mat-icon>
        </div>
        <app-note *ngFor="let item of mapToArray(dropLists.costStructure)"
         [note]="item" [cdkDragData]="item.uid" cdkDrag
         (edit)=onEdit($event)
         (delete)=onDelete($event)></app-note>
      </div>
      <div class="column2" cdkDropList id="revenueStream" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
          <span>Revenue Stream</span>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNote('revenueStream')" style="cursor: pointer">add</mat-icon>
        </div>
        <app-note *ngFor="let item of mapToArray(dropLists.revenueStream)"
         [note]="item" [cdkDragData]="item.uid" cdkDrag
         (edit)=onEdit($event)
         (delete)=onDelete($event)></app-note>
      </div>
    </div>

  </div>

</mat-drawer-container>