.note {
    width: auto;
    height: auto;
    max-width: inherit;
    margin: 5px;
    border: solid 1px #ccc;
    color: #20262e;
    cursor: move;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    // box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    //             0px 2px 2px 0 rgba(0, 0, 0, 0.14),
    //             0px 1px 5px 0 rgba(0, 0, 0, 0.12);
  }



  
  .note-content{
    padding-left: 5px;
    padding-right: 5px;
    word-break: keep-all;
  }
  
  .note-title{
    max-width: calc(width);
    overflow: hidden;
  }
  
  .note-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: rgba(109, 107, 107, 0.5);
    color: rgb(0, 0, 0);
  }