
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~ngx-toastr/toastr';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $mat-indigo : #20262e; #6f7277
$my-primary:(
	50: #888a8d,
	100: #5f6266,
	200: #3f4349,
	300: #35383d,
	400: #2a2f36,
	500: #20262e,
	600: #171b20,
	700: #1a1d22,
	800: #16181b,
	900: #0c0e0f,
	A100: #393a3b,
	A200: #212325,
	A400: #181b1d,
	A700: #121416,
	contrast: (
	  50: $black-87-opacity,
	  100: $black-87-opacity,
	  200: $black-87-opacity,
	  300: $black-87-opacity,
	  400: $black-87-opacity,
	  500: white,
	  600: white,
	  700: white,
	  800: $white-87-opacity,
	  900: $white-87-opacity,
	  A100: $black-87-opacity,
	  A200: white,
	  A400: white,
	  A700: white,
	)
  );
$my-accent:(
	50:#e8f5e9,
	100:#c8e6c9,
	200:#a5d6a7,
	300:#81c784,
	400:#66bb6a,
	500:#4caf50,
	600:#43a047,
	700:#388e3c,
	800:#2e7d32,
	900:#1b5e20,
	A100:#b9f6ca,
	A200:#69f0ae,
	A400:#00e676,
	A700:#00c853,
	contrast: (
	  50: $black-87-opacity,
	  100: $black-87-opacity,
	  200: $black-87-opacity,
	  300: $black-87-opacity,
	  400: $black-87-opacity,
	  500: white,
	  600: white,
	  700: white,
	  800: $white-87-opacity,
	  900: $white-87-opacity,
	  A100: $black-87-opacity,
	  A200: white,
	  A400: white,
	  A700: white,
	)

);

$front-end-primary: mat-palette($my-primary);
$front-end-accent: mat-palette($my-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-end-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$front-end-theme: mat-light-theme($front-end-primary, $front-end-accent, $front-end-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-end-theme);

/* You can add global styles to this file, and also import other style files */
*{
	box-sizing: border-box;
}

html, body { 
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Dosis', sans-serif;
}



::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(141, 140, 140); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e; 
  }

  .wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100vh;
	background-color: #20262e;
	margin: 0px;
}

.form-card {
	padding: 5%;
	display: flex;
	flex-direction: column;
	width: 50vw;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	background-color: #fff;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

mat-form-field{
    width: 100%;
}

